/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.categories {
  width: 90%;
  height: auto;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.slidedown-rust {
  display: none;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.8s ease;
  -o-transition: -o-transform 0.8s ease;
  -ms-transition: -ms-transform 0.8s ease;
  transition: transform 0.8s ease; }

.slidedown-rust.active {
  display: flex;
  justify-content: center;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1); }

.slidedown-etch {
  display: none;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.8s ease;
  -o-transition: -o-transform 0.8s ease;
  -ms-transition: -ms-transform 0.8s ease;
  transition: transform 0.8s ease; }

.slidedown-etch.active {
  display: flex;
  justify-content: center;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1); }

.slidedown-paper {
  display: none;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.8s ease;
  -o-transition: -o-transform 0.8s ease;
  -ms-transition: -ms-transform 0.8s ease;
  transition: transform 0.8s ease; }

.slidedown-paper.active {
  display: flex;
  justify-content: center;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1); }

.slidedown-photo {
  display: none;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.8s ease;
  -o-transition: -o-transform 0.8s ease;
  -ms-transition: -ms-transform 0.8s ease;
  transition: transform 0.8s ease; }

.slidedown-photo.active {
  display: flex;
  justify-content: center;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1); }

.rustGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.etchGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.paperGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.photoGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.galleriesWrap {
  width: 100%;
  background-color: black; }

#rusted img {
  width: 300px;
  height: 300px;
  margin-left: 10px; }

#etched img {
  width: 300px;
  height: 300px;
  margin-left: 10px; }

#paper img {
  width: 300px;
  height: 300px;
  margin-left: 10px; }

#photo img {
  width: 300px;
  height: 300px;
  margin-left: 10px; }

.imgModal {
  width: 50%;
  height: 50%;
  padding: 20px; }

.img {
  width: 60%; }

.img1 {
  width: 300px;
  height: auto;
  margin: 10px; }

.img1:hover {
  -webkit-transition: all 0.2s 0s cubic-bezier(1, 1, 0.595, 0.835);
  transition: all 0.2s 0s cubic-bezier(1, 1, 0.595, 0.835); }

.img1:hover:hover {
  -webkit-transform: translateY(-1em) scale(1.1);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.mainImage {
  max-width: 100%;
  height: 100vh;
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

/*# sourceMappingURL=application.css.map */
