@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#artworksSection {
  background-color: whitesmoke; }

.categories {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 50px 0 80px 0;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: whitesmoke; }
  @media (max-width: 1556px) {
    .categories {
      width: 65%; } }

.rustCatWrap {
  margin-bottom: 30px;
  height: 100%; }

.etchCatWrap {
  margin-bottom: 30px;
  height: 100%; }

.CatText {
  width: 350px;
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif; }
  .CatText h1 {
    text-align: center;
    font-size: 22pt;
    letter-spacing: 6px;
    color: dimgrey;
    font-weight: bold; }
  .CatText p {
    text-align: center;
    font-weight: 600; }

.slidedown-rust {
  display: none; }

.slidedown-rust.active {
  display: flex;
  justify-content: center;
  padding-top: 100px; }

.slidedown-etch {
  display: none; }

.slidedown-etch.active {
  display: flex;
  justify-content: center; }

.slidedown-paper {
  display: none; }

.slidedown-paper.active {
  display: flex;
  justify-content: center; }

.slidedown-photo {
  display: none; }

.slidedown-photo.active {
  display: flex;
  justify-content: center; }

.rustGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.etchGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.paperGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.photoGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.galleriesWrap {
  width: 100%;
  background-color: black; }

#section1 {
  background-color: whitesmoke;
  height: auto;
  width: 100%;
  padding: 50px; }

.sec1FlexWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

@media (max-width: 800px) {
  .section1Details {
    display: flex;
    flex-wrap: wrap; } }
@media (max-width: 551px) {
  .section1Details {
    display: inline-block; } }

#sec1Thumb1 {
  background-image: url("../img/Store-RREARTHIb.jpg");
  background-position: left;
  background-size: cover;
  width: 450px;
  height: 450px;
  min-width: 325px;
  margin-right: 25px; }
  @media (max-width: 800px) {
    #sec1Thumb1 {
      margin: 0; } }
  @media (max-width: 551px) {
    #sec1Thumb1 {
      width: 325px;
      height: 325px; } }

#sec1Thumb2 {
  background-image: url("../img/Store-RREARTHI.jpg");
  background-position: left;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  margin-left: 25px; }
  @media (max-width: 800px) {
    #sec1Thumb2 {
      margin-top: 25px;
      margin-right: 19px;
      margin-left: 0; } }
  @media (max-width: 551px) {
    #sec1Thumb2 {
      width: 325px;
      height: 325px;
      margin: 0;
      margin-top: 15px; } }

#sec1Thumb3 {
  background-image: url("../img/Store-RREARTHIc.jpg");
  background-position: left;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: 25px; }
  @media (max-width: 800px) {
    #sec1Thumb3 {
      margin-top: 25px;
      margin-left: 19px; } }
  @media (max-width: 551px) {
    #sec1Thumb3 {
      width: 325px;
      height: 325px;
      margin: 0;
      margin-top: 15px; } }

#section2 {
  height: 300px;
  background-color: #333; }

#bioSection1 {
  background-color: whitesmoke; }

#bioSection2 {
  background-color: #333; }

#bioSection3 {
  background-color: whitesmoke; }

#bioWrapper1 {
  height: auto;
  width: 70%;
  margin: 0 auto;
  padding: 30px; }

#bioWrapper2 {
  height: auto;
  width: 70%;
  margin: 0 auto;
  padding: 30px; }

#bioWrapper3 {
  height: auto;
  width: 70%;
  margin: 0 auto;
  padding: 30px; }

#videoWrapper1,
#videoWrapper2,
#videoWrapper3 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 10px auto; }

#videoWrapper1 iframe,
#videoWrapper2 iframe,
#videoWrapper3 iframe {
  position: absolute;
  width: 100%;
  height: 100%; }

.footerArrow {
  height: 60px;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 20pt;
  font-family: sans-serif; }
  .footerArrow img {
    padding-top: 20px; }

.footer {
  background: #333;
  padding: 1em 1.618em;
  width: 100%; }
  .footer .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer .footer-logo img {
      height: 8em; }
  .footer .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5em;
    font-family: 'Open Sans', sans-serif; }
  .footer ul {
    flex-basis: 12em;
    flex-shrink: 0;
    margin-bottom: 0.5em;
    padding: 0; }
    @media (max-width: 630px) {
      .footer ul {
        flex-basis: 7em; } }
    @media (max-width: 390px) {
      .footer ul {
        flex-basis: 3em; } }
  .footer li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
  .footer li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .footer li a:focus, .footer li a:hover {
      color: white; }
  .footer li h3 {
    color: white;
    font-size: 1em;
    margin-bottom: 0.4em; }
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 0.5em;
    width: 12em; }
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

header.navigation {
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  min-height: 40px;
  width: 100%;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    position: relative;
    z-index: 9999;
    display: flex;
    font-family: sans-serif;
    justify-content: space-around;
    justify-content: flex-end; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    line-height: 40px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation nav {
    float: none;
    min-height: 40px;
    z-index: 9999999; }
    @media screen and (min-width: 53.75em) {
      header.navigation nav {
        float: left; } }
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 40px;
    overflow: hidden;
    padding-left: 2px;
    padding-right: 2em;
    margin-right: 20px;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 40px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      text-decoration: none; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: orange; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(255, 255, 255, 0.7);
      content: "\25BE"; }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu.fly-out-right {
        left: 11.8em;
        top: 0; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu.fly-out-left {
        left: -11.8em;
        top: 0; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul.submenu li {
          line-height: 30.76923px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation ul.submenu li a {
            background-color: #333;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: 40px; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right; } }
  header.navigation .search-bar {
    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%; }
    header.navigation .search-bar form {
      position: relative; }
      header.navigation .search-bar form input[type=search] {
        background: #404040;
        border: 1px solid #262626;
        border-radius: 6px;
        box-sizing: border-box;
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation .search-bar form input[type=search] {
            width: 100%; } }
      header.navigation .search-bar form button[type=submit] {
        background: #404040;
        border: 0;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em; }
        header.navigation .search-bar form button[type=submit] img {
          height: 12px;
          opacity: 0.7;
          padding: 1px; }
    @media screen and (min-width: 53.75em) {
      header.navigation .search-bar {
        display: inline-block;
        position: relative;
        width: 16em; }
        header.navigation .search-bar input {
          box-sizing: border-box;
          display: block; } }

#buyButton {
  margin-top: 15px; }

.slash {
  color: darkorange; }

.mainImage h1,
.mainImage2 h1,
.mainImage3 h1 {
  font-size: 35pt;
  color: silver;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 7pt; }

#logo {
  align-self: center;
  margin-left: 5%;
  margin-top: 50px; }

.yellowLogo {
  color: orange; }

#price {
  color: black; }

.section1Text {
  font-family: 'Open Sans', sans-serif;
  align-self: center;
  margin-left: 50px; }
  .section1Text h1 {
    font-size: 22pt;
    letter-spacing: 6px;
    font-weight: bold; }
  .section1Text p {
    font-weight: 600;
    color: dimgrey; }

hr {
  width: 200px;
  shadow: none;
  color: black;
  margin-left: 0; }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36pt;
  color: darkorange; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  line-height: 18pt; }

#bioWrapper2 p {
  color: #fff; }

.rustCatImg {
  background-image: url("../img/cat-rust.jpg");
  background-repeat: no-repeat;
  width: 350px;
  height: 264px; }

.etchCatImg {
  background-image: url("../img/cat-etch.jpg");
  background-repeat: no-repeat;
  width: 350px;
  height: 264px; }

.paperCatImg {
  background-image: url("../img/prints/Urban-Iconography-Garrett-Price-Prints.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 264px; }

.photoCatImg {
  background-image: url("../img/cat-photo2.jpg");
  background-repeat: no-repeat;
  width: 350px;
  height: 264px; }

a:link {
  text-decoration: none; }

#etched img {
  width: 350px;
  height: auto;
  margin-left: 10px; }

#paper img {
  width: 350px;
  height: auto;
  margin-left: 10px; }

#photo img {
  width: 350px;
  height: auto;
  margin-left: 10px; }

.imgModal {
  max-width: 100%;
  max-height: 100%;
  padding: 20px; }

.imgThumb {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px; }

.imgThumb:hover {
  -webkit-transition: all 0.2s 0s cubic-bezier(1, 1, 0.595, 0.835);
  transition: all 0.2s 0s cubic-bezier(1, 1, 0.595, 0.835); }

.imgThumb:hover:hover {
  -webkit-transform: translateY(-1em) scale(1.1);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.mainImage {
  background-position: right;
  max-width: 100%;
  height: 85vh;
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex; }
  @media (max-width: 1080px) {
    .mainImage {
      height: 60vh;
      background-position: right; } }

.mainImage2 {
  background-position: right;
  max-width: 100%;
  height: 85vh;
  background-image: url("../img/main2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex; }
  @media (max-width: 1080px) {
    .mainImage2 {
      height: 60vh;
      background-position: right; } }

.mainImage3 {
  background-position: right;
  max-width: 100%;
  height: 85vh;
  background-image: url("../img/main3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex; }
  @media (max-width: 1080px) {
    .mainImage3 {
      height: 60vh;
      background-position: right; } }
  @media (max-width: 880px) {
    .mainImage3 {
      height: 60vh;
      background-position: center; } }

/*
 *  Remodal - v1.1.0
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(43, 46, 56, 0.9); }

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes; }

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes; }

/* Default theme styles of the wrapper */
.remodal-wrapper {
  padding: 10px 10px 0;
  width: 100%; }

/* Default theme styles of the modal dialog */
.remodal {
  box-sizing: border-box;
  width: auto;
  margin-bottom: 10px;
  padding: 35px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background-color: black; }

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes; }

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes; }

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle; }

/* Close button */
.remodal-close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent; }

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38; }

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center; }

/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0; }

.remodal-confirm {
  color: #fff;
  background: #81c784; }

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a; }

.remodal-cancel {
  color: #fff;
  background: #e57373; }

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350; }

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* Keyframes
   ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; } }
@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0; } }
@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* Media queries
   ========================================================================== */
@media only screen and (min-width: 641px) {
  .remodal {
    /*max-width: 1200px;*/ } }
/* IE8
   ========================================================================== */
.lt-ie9 .remodal-overlay {
  background: #2b2e38; }

.lt-ie9 .remodal {
  width: 700px; }

/*
 *  Remodal - v1.1.0
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none; }

/* Anti FOUC */
.remodal,
[data-remodal-id] {
  display: none; }

/* Necessary styles of the overlay */
.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none; }

/* Necessary styles of the wrapper */
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch; }

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: ""; }

/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Necessary styles of the modal dialog */
.remodal {
  position: relative;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block; }

/*# sourceMappingURL=application.css.map */
