.categories {
  width: 90%;
  height: auto;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.slidedown-rust {
  display: none;
  -webkit-transform: scaleY(0);
       -o-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);

  -webkit-transform-origin: top;
       -o-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;

  -webkit-transition: -webkit-transform 0.8s ease;
            -o-transition: -o-transform 0.8s ease;
          -ms-transition: -ms-transform 0.8s ease;
                  transition: transform 0.8s ease;
}

.slidedown-etch {
  display: none;
  -webkit-transform: scaleY(0);
       -o-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);

  -webkit-transform-origin: top;
       -o-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;

  -webkit-transition: -webkit-transform 0.8s ease;
            -o-transition: -o-transform 0.8s ease;
          -ms-transition: -ms-transform 0.8s ease;
                  transition: transform 0.8s ease;
}

.slidedown-rust.active {
  display: block;
  -webkit-transform: scaleY(1);
       -o-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.slidedown-etch.active {
  display: block;
  -webkit-transform: scaleY(1);
       -o-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}


.rustGalWrapper {
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.etchGalWrapper {
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
