.categories {
  width:90%;
  height: auto;
  margin: 0 auto;
  padding: 50px 0 80px 0;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;

  // background-image: url("../img/bckGrnd3.jpg");
  // background-size: cover;
  // background-position: center;
}

.rustCatWrap {
  margin-bottom: 30px;
  height: 100%;
}

.etchCatWrap {
  margin-bottom: 30px;
  height: 100%;
}

.CatText {
  width: 350px;
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  margin-bottom: 50px;
    h1 {
      text-align: center;
      font-size: 22pt;
      letter-spacing: 6px;
      color: dimgrey;
      font-weight: 500;;
    }
    p {
      text-align: center;
    }
}

.slidedown-rust {
  display: none;
}

.slidedown-rust.active {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.slidedown-etch {
  display: none;
}

.slidedown-etch.active {
  display: flex;
  justify-content: center;
}

.slidedown-paper {
  display: none;
}

.slidedown-paper.active {
  display: flex;
  justify-content: center;
}

.slidedown-photo {
  display: none;
}

.slidedown-photo.active {
  display: flex;
  justify-content: center;
}


.rustGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.etchGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paperGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photoGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleriesWrap {
  width: 100%;
  background-color: black;
}

.footer {
  height: 200px;
  background-color: black;
}
