.categories {
  width:90%;
  height: auto;
  margin: 0 auto;
  padding: 50px 0 80px 0;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  // background-image: url("../img/bckGrnd3.jpg");
  // background-size: cover;
  // background-position: center;
}

.rustCatWrap {
  margin-bottom: 30px;
  height: 100%;
}

.etchCatWrap {
  margin-bottom: 30px;
  height: 100%;
}

.CatText {
  width: 350px;
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
    h1 {
      text-align: center;
      font-size: 22pt;
      letter-spacing: 6px;
      color: dimgrey;
      font-weight: bold;
    }
    p {
      text-align: center;
      font-weight: 600;
    }
}

.slidedown-rust {
  display: none;
}

.slidedown-rust.active {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.slidedown-etch {
  display: none;
}

.slidedown-etch.active {
  display: flex;
  justify-content: center;
}

.slidedown-paper {
  display: none;
}

.slidedown-paper.active {
  display: flex;
  justify-content: center;
}

.slidedown-photo {
  display: none;
}

.slidedown-photo.active {
  display: flex;
  justify-content: center;
}


.rustGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.etchGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paperGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photoGalWrapper {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleriesWrap {
  width: 100%;
  background-color: black;
}

.footer {
  height: 60px;
  background-color: black;
}

// STORE PAGE STYLES


#section1 {
  background-color: silver;
  height: auto;
  width: 100%;
  padding: 50px;

}

.sec1FlexWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

// .section1Details {
//   width: 450px;
//   height: 450px;
//   display: flex;
//   // flex-wrap: wrap;
// }


#sec1Thumb1 {
  background-image: url("../img/Store-RREARTHIb.jpg");
  background-position: left;
  background-size: cover;
  width: 450px;
  height: 450px;
  margin-right: 25px;


}

#sec1Thumb2 {
  background-image: url("../img/Store-RREARTHI.jpg");
  background-position: left;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  margin-left: 25px;
}

#sec1Thumb3 {
  background-image: url("../img/Store-RREARTHIc.jpg");
  background-position: left;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: 25px;


}

#section2 {
  height: 300px;
  background-color: #333;
}
