#buyButton {
  margin-top: 15px;
}

.galleryButton {
  width: 160px;
  height: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

.button {
  background-color: darkorange;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 2.5px 10px;
  text-align: center;
  text-decoration: none;
}
@-webkit-keyframes glowing {
  0% { background-color: #ff8c00; -webkit-box-shadow: 0 0 1px #ff8c00; }
  50% { background-color: #FFa333; -webkit-box-shadow: 0 0 10px #FF0000; }
  100% { background-color: #ff8c00; -webkit-box-shadow: 0 0 1px #ff8c00; }
}

@-moz-keyframes glowing {
  0% { background-color: #ff8c00; -moz-box-shadow: 0 0 1px #ff8c00; }
  50% { background-color: #FFa333; -moz-box-shadow: 0 0 10px #FFa333; }
  100% { background-color: #ff8c00; -moz-box-shadow: 0 0 1px #ff8c00; }
}

@-o-keyframes glowing {
  0% { background-color: #ff8c00; box-shadow: 0 0 1px #ff8c00; }
  50% { background-color: #FFa333; box-shadow: 0 0 10px #FFa333; }
  100% { background-color: #ff8c00; box-shadow: 0 0 1px #ff8c00; }
}

@keyframes glowing {
  0% { background-color: #ff8c00; box-shadow: 0 0 3px #ff8c00; }
  50% { background-color: #FFa333; box-shadow: 0 0 20px #FFa333; }
  100% { background-color: #ff8c00; box-shadow: 0 0 3px #ff8c00; }
}

.button {
  -webkit-animation: glowing 4000ms infinite;
  -moz-animation: glowing 4000ms infinite;
  -o-animation: glowing 4000ms infinite;
  animation: glowing 4000ms infinite;
}
