 .rustCatImg {
  background-image: url("../img/cat-rust.jpg");
  background-repeat: no-repeat;
  width: 350px;
  height: 264px;
  // display: flex;
  // justify-content: flex-end;
}

.etchCatImg {
 background-image: url("../img/cat-etch.jpg");
 background-repeat: no-repeat;
 width: 350px;
 height: 264px;
 // display: flex;
 // justify-content: flex-end;
}

.paperCatImg {
 background-image: url("../img/cat-paper.jpg");
 background-repeat: no-repeat;
 width: 350px;
 height: 264px;
 // display: flex;
 // justify-content: flex-end;
}

.photoCatImg {
 background-image: url("../img/cat-photo2.jpg");
 background-repeat: no-repeat;
 // background-size: contain;
 width: 350px;
 height: 264px;
 // display: flex;
 // justify-content: flex-end;
}

a:link {
  text-decoration: none;
}





// #rusted img {
//   width: 350px;
//   height: auto;
//   margin-left: 10px;
// }

#etched img {
  width: 350px;
  height: auto;
  margin-left: 10px;
}

#paper img{
  width: 350px;
  height: auto;
  margin-left: 10px;
}

#photo img {
  width: 350px;
  height: auto;
  margin-left: 10px;

}
.imgModal {
  width: auto;
  height: auto;
  padding: 20px;
  max-width: 1000px;
  max-height: 1000px;

}

 .img {
  width: 60%;
}

.img1 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 10px;

}

.img1:hover {
    -webkit-transition: all 0.2s 0s cubic-bezier(1, 1, 0.595, 0.835);
    transition: all 0.2s 0s cubic-bezier(1, 1, 0.595, 0.835);
  }

.img1:hover:hover {
  -webkit-transform: translateY(-1em) scale(1.1);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}



.mainImage {
  max-width:100%;
  height: 900px;
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 10px solid #333;
  display: flex;
  justify-content: flex-start;
    // @media (max-width: 2045px) {
    //   background-size: contain;
    //   height: 800px;
    // }
}
