a:link {
  text-decoration: none;
  color: inherit;
}

.slash {
  color: darkorange;
}

.mainImage,
.mainImage2,
.mainImage3 {
  h1{
    font-size: 35pt;
    color: silver;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 7pt;
  }
}

#logo {
  align-self: center;
  margin-left: 5%;
  margin-top: 50px;
}

.yellowLogo {
  color: orange;
}

.CatText {
  background-color:rgba(0, 0, 0, 0.35);
  width: 325px;
  height: 175px;
  margin-top: 10px;
  padding-top: 20px;
  border-radius: 3px;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
    h1 {
      text-align: center;
      font-size: 22pt;
      letter-spacing: 2px;
      color: darkorange;
      font-weight: bold;
    }
    p {
      text-align: center;
      font-weight: 600;
      color: silver;
    }
    button {
      text-align: center;
    }
}


// STORE PAGE STYLES

#price {
  color: black;
}

.section1Text {
  font-family: 'Open Sans', sans-serif;
  align-self: center;
  margin-left: 50px;
    h1 {
        // text-align: center;
        font-size: 22pt;
        letter-spacing: 6px;
        font-weight: bold;
        }
    p {
      // text-align: center;
      font-weight: 600;
      color: dimgrey;
    }
}

hr {
  width: 200px;
  shadow: none;
  color: black;
  margin-left: 0;
}

// BIO PAGE STYLES

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36pt;
  color: darkorange;

}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  line-height: 18pt;
}

#bioWrapper2 p {
  color: #fff;

}
