.slash {
  color: darkorange;
}

.mainImage {
  h1{
    font-size: 50pt;
    color: silver;
    font-family: sans-serif;
    letter-spacing: 7pt;
  }
}

#logo {
  align-self: center;
  margin-left: 80px;
}

.yellowLogo {
  color: orange;
}
